[submodule "backend"] 
 	path = WebImmunization-backend
 	url = https://github.com/akai-org/WebImmunization-backend
 	branch = main
[submodule "frontend"] 
	path = WebImmunization-frontend 
	url = https://github.com/akai-org/WebImmunization-frontend
	branch = main

